################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParsersTest/obj/Debug
/ParsersTest/bin/Debug
/Parsers/bin/Debug
/Parsers/obj/Debug
